html, body {
    font-family: Source Sans Pro;
}

/* vietnamese */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('ttf');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('ttf');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.modules-menu {
    background-image: url('../img/sprite_branco.png');
}

#login-container .row {
    text-align: center;
}

#login-container .row > div {
    display: inline-block;
    float: none;
    text-align: left;
}

#login-container form {
    margin: 20px 20px 30px 20px;
}

.procuracao-header  {
    margin-top: 15px;
    margin-left: 15px;
    color: #ffff00;
}

.list-unmarked {
    list-style: none;
    padding-left: 20px;
}

form button, form input[type="button"], form input[type="submit"] {
    margin-right: 10px;
    margin-left: 0;
}

.text-right button, .text-right input[type="button"], .text-right input[type="submit"] {
    margin-left: 10px;
    margin-right: 0;
}

#login-footer a {
    margin: 0 10px 0 0;
}

#logo img {
    height: 70px;
    margin: 5px 0;
    float: left;
}

#auth-user {
    margin-top: 25px;
    float: right;
}

#auth-user > div {
    float: left;
    margin: 5px 20px;
    font-size: 1.4em;
}

.pagination-panel {
    text-align: right;
    width: 100%;
}

.pagination-panel > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.pagination-panel .page-size input {
    width: 70px;
}

.align-bottom {
    margin-top: 25px;
}

.dataTable thead th, .dataTable thead td {
    white-space: nowrap;
}

table tbody th.tbody-left,
table tbody td.tbody-left {
    text-align: left;
}

table tbody th.tbody-center,
table tbody td.tbody-center {
    text-align: center;
}

table tbody th.tbody-right,
table tbody td.tbody-right {
    text-align: right;
}

table tbody th.tbody-justify,
table tbody td.tbody-justify {
    text-align: justify;
}

table tbody th.tbody-nowrap,
table tbody td.tbody-nowrap {
    white-space: nowrap;
}

.row.align-bottom > * {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

fieldset.scheduler-border {
    padding: 0 10px 10px 10px;
    border: 1px solid #DDD !important;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.scrollx {
    overflow-x: auto;
}

.jsf-radio td {
    padding: 0 10px 0 10px;
}

.jsf-radio input {
    margin-right: 5px !important;
}

.alert {
    white-space: pre-line;
}

.form-group.only-text {
    font-size: 1.4em;
    padding-top: 25px;
}

.text-red {
    color: red;
}