<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="pt-br">
<head>
	<meta charset="iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Solicitação para autorização de senhas de serviços</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

<br/>

<div class="container"> 
	<fieldset>
    <legend>Solicitação para autorização de senhas de serviços</legend>
		<form role="form">
		
			<div class="container">
				<div class="row">
					
					<div class="col-md-4">
						<div class="form-group">
							<label for="txtCPF">CPF: (*)</label>
							<input type="text" class="form-control" name="txtCPF" id="txtCPF" disabled/>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
							<label for="txtNome">Nome Completo: (*)</label>
							<input type="text" class="form-control" name="txtNome" id="txtNome" disabled/>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="col-md-2">
						<div class="form-group">
							<label for="txtCEP">CEP: (*) </label>
							<input type="text" class="form-control" name="txtCEP" id="txtCEP" disabled/>
						</div>
					</div>
				
					<div class="col-md-2">
						<div class="form-group">
							<label for="txtTelefone">Logradouro: (*)</label>
							<select  type="text" class="form-control" name="sltLogradouro" id="sltLogradouro" disabled>
								<option value="" select="true">Selecione</option>
							</select>
						</div>	
					</div>
									
					<div class="col-md-6">
						<div class="form-group">
							<label for="txtEndereco">Endereço: (*)</label>
							<input type="text" class="form-control" name="txtEndereco" id="txtEndereco" disabled/>
						</div>
					</div>
				
				</div>
				
		
				<div class="row">

					<div class="col-md-2">
						<div class="form-group">
							<label for="txtNumeroEndereco">Número: (*)</label>
							<input type="text" class="form-control" name="txtNumeroEndereco" id="txtNumeroEndereco" disabled/>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="txtApartamento">Apartamento:</label>
							<input type="text" class="form-control" name="txtApartamento" id="txtApartamento" disabled/>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="txtComplemento">Complemento: </label>
							<input type="text" class="form-control" name="txtComplemento" id="txtComplemento" disabled/>
						</div>
					</div>
					
				
					<div class="col-md-4">
						<div class="form-group">
							<label for="txtBairro">Bairro: (*)</label>
							<input type="text" class="form-control" name="txtBairro" id="txtBairro" disabled/>
						</div>
					</div>
		
				</div>
				

				
				<div class="row">

					<div class="col-md-4">
						<div class="form-group">
							<label for="sltEstadoPais">Estado: (*)</label>
							
							<select class="form-control" name="sltEstadoPais" id="sltEstadoPais" disabled>
								<option value="1">[Selecionar um estado]</option>
								<option value="2">Ceara</option>
								<option value="3">Rio Grande do Norte</option>
								<option value="4">Rio Grande do Sul</option>
								<option value="5" seleted>Tocantins</option>
							</select>
							
						</div>
					</div>
						
					<div class="col-md-4">
						<div class="form-group">
							<label for="sltCidade">Cidade: (*)</label>
				
							<select class="form-control" name="sltCidade" id="sltCidade" disabled>
								<option value="1">[Selecionar uma cidade]</option>
								<option value="2">Araguaína</option>
								<option value="3">Gurupi</option>
								<option value="4">Miracema</option>
								<option value="5">Palmas</option>
								<option value="5">Paraiso do Tocantins</option>
								<option value="5">Porto Nacional</option>
								<option value="5">Taquaruçu</option>
							</select>

						</div>
					</div>
					
					<div class="col-md-2">
						<div class="form-group">
							<label for="txtTelefoneResidencial">Telefone Residencial:</label>
							<input type="text" class="form-control" name="txtTelefoneResidencial" id="txtTelefoneResidencial"/>
						</div>
					</div>
					
					
					
				</div>
				
				<div class="row">
					
					<div class="col-md-10">
						<div class="form-group">
							<label for="txtAreaEnderecoContato">Outro Endereço de Contato:</label>
							<textarea class="form-control" name="txtAreaEnderecoContato" id="txtAreaEnderecoContato" rows="2">
							</textarea>
						</div>
					</div>
					
				
				</div>
				
			
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="txtCorreioEletronico">Correio Eletrônico: (*)</label>
							<input type="text" class="form-control" name="txtCorreioEletronico" id="txtCorreioEletronico"/>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label for="txtTelefoneCelular">Telefone Celular:</label>
							<input type="text" class="form-control" name="txtTelefoneCelular" id="txtTelefoneCelular"/>
						</div>
					</div>
					
					
				</div>
			
				
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="optRadioTipoUsuario">Tipo de Usuário: (*)</label>
							<div class="radio">
								<label class="radio-inline"><input type="radio" name="optRadioTipoUsuario">Contribuyente</label>
								<label class="radio-inline"><input type="radio" name="optRadioTipoUsuario">Contribuyente outro estado</label>
								<label class="radio-inline"><input type="radio" name="optRadioTipoUsuario">Contabilista</label>
							</div>
						</div>
					</div>
				</div>
				
				<hr/>
				
				<div class="row">
				
					<div class="col-md-3">
						<div class="form-group">
							<label for="txtCRC">CRC: (Somente para Contabilistas)</label>
							<input type="text" class="form-control" name="txtCRC" id="txtCRC"/>
						</div>
					</div>
					
					<div class="col-md-7">
						<div class="form-group">
							<p>No caso de Contabilistas tem que imprimir o "Termo de Responsabilidade de Acesso" 
							   (que será enviado pelo e-mail) e dirija-se à agência de 
								atendimento da SEFAZ-TO mais próxima com sua documentação em regra para obter a senha.</p>
						</div>
					</div>
					
				</div>
				
				
				<hr/>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<p>Só para aqueles usuários que são associados para uma empresa e não estão cadastrados</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-3">
						<div class="form-group">
							<label for="txtCNPJ">CNPJ Empresa: </label>
							<input type="text" class="form-control" name="txtCNPJ" id="txtCNPJ"/>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="form-group">
							<label for="txtInscricaoEstadual">Inscrição Estadual:</label>
							<input type="text" class="form-control" name="txtInscricaoEstadual" id="txtInscricaoEstadual"/>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<p>No caso de Pessoas Físicas associadas a uma empresa tem que imprimir o "Termo de Responsabilidade 
							   de Acesso" (que será enviado pelo e-mail) e dirija-se à agência de 
								atendimento da SEFAZ-TO mais próxima com sua documentação em regra para obter a senha.</p>
						</div>
					</div>
					
				</div>

				<div id="internal-buttons" class="text-middle">
					<button type="button" class="btn btn-primary" name="btnConfirmar">Confirmar</button>
				</div>
				
			</div>
		
		</form>
    </fieldset>
</div>

<br/>


</body>
</html>