<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security secured-annotations="enabled"/>

    <security:http auto-config="true" use-expressions="true">

        <security:csrf disabled="true"/>
        
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <security:intercept-url pattern="/public/**" access="permitAll"/>
        <security:intercept-url pattern="/javax.faces.resource/**" access="permitAll"/>
        <security:intercept-url pattern="/resources/**" access="permitAll"/>
        <security:intercept-url pattern="/protected/**" access="isAuthenticated()"/>

        <security:form-login login-page="/public/login.jsf"
                             authentication-failure-url="/public/login.jsf?erro"
                             default-target-url="/protected/views/home.jsf"/>

        <security:logout invalidate-session="true"
                         logout-success-url="/public/login.jsf?logout"/>

    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
                <security:user name="user" password="user" authorities="ROLE_ARR"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>