html,
body {
    font-family: Source Sans Pro;
}

#login-container .row {
    text-align: center;
}

#login-container .row > div {
    display: inline-block;
    float: none;
    text-align: left;
}

#login-container form{
    margin: 20px 50px 30px 50px;
}

form button {
    margin: 0 10px 0 0;
}

form .text-right button {
    margin: 0 10px 0 0;
}

#login-footer {
    margin: 0 50px 20px 50px;
}

#login-footer a {
    margin: 0 10px 0 0;
}

#logo img {
    height: 70px;
    margin: 5px 0;
    float: left;
}

#auth-user {
    margin-top: 25px;
    float: right;
}

#auth-user > div {
    float: left;
    margin: 5px 20px;
    font-size: 1.4em;
}

#page-footer hr {
    border-color: #ccc;
}

.small-scrollable {
    max-height: 150px;
    overflow-y: auto;
}

.small-scrollable table {
    margin: 0;
}

.medium-scrollable {
    max-height: 250px;
    overflow-y: auto;
}

.medium-scrollable table {
    margin: 0;
}

.large-scrollable {
    max-height: 350px;
    overflow-y: auto;
}

.large-scrollable table {
    margin: 0;
}

.pagination-panel {
    text-align: center;
    width: 100%;
}

.pagination-panel > * {
    display: inline-block;
    vertical-align: top;
}

.pagination-panel .page-size input {
    width: 70px;
}

